body {
  font-family: 'Roboto Slab', serif;
  background-color: whitesmoke;
}


.navbarContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0, .2);
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 0;
  margin-right: 10px;
  width: 220px;
  gap: 10px;
  padding: 10px;
}

.expenses {
  margin-bottom: auto;
}

.signOut {
  margin-bottom: 20px;
  margin-top: auto;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  transition: opacity 250ms;
}

.loginNavbarContainer {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.userName {
  align-self: center;
}

.login {
  width: 64px;
  height: 64px;
  transition: opacity 250ms;
}

.login:hover,
.signOut:hover { 
  opacity: .6;
}

.navbarContainer * {
  cursor: pointer;
}

#root {
  display: flex;
  margin: 10px;
  gap: 10px;
}

.authContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid rgb(0, 0, 0, .2);
  border-radius: 5px;
  height: 275px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  width: 400px;
  min-width: 300px;
}

button {
  cursor: pointer;
  transition: opacity 250ms;
}

button:hover {
  opacity: .6;
}

.submitBtn {
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  background-color: limegreen;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.usernameInput,
.passwordInput {
  height: 30px;
  width: 300px;
  border: none;
}

.horizontalLine {
  width: 300px;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.navbarComponentIcons {
  width: 30px;
  height: 30px;
  margin-left: 4px;
}

.navbarComponentContainer {
  display: flex;
  gap: 7px;
  align-items: center;
  width: 150px;
  transition: opacity 250ms;
}

.expenseContainer {
  margin-bottom: auto;
}

.verticalLine {
  border: none;
  border-radius: 10px;
  width: 5px;
  background-color: rgb(0, 0, 0, .2);
  height: 100%;
  
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin-top: 30px;
  flex: 1;
}

.incomeLowerContainer,
.expenseLowerContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.incomeTransactionContainer,
.expenseTransactionContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.upperContainer {
  display: flex;
  gap: 10px;
  max-width: 100%;
  border: 2px solid rgb(0, 0, 0, .2);
  border-radius: 10px;
  padding: 20px;
  min-width: 30%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 25px;
  gap: 15px;
}

.detailsUpperContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detailsLowerContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.greenDot {
  border: 1px solid green;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: green;
}

.redDot {
  border: 1px solid red;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: red;
  color: green;
  
}

.totalExpense,
.totalIncome {
  border: 3px solid rgb(0, 0, 0, .2);
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  width: auto;
}

.totalIncome {
  color: green;
}

.deleteIcon,
.categoryIcon {
  align-self: center;
}

.incomeUpperContainer,
.expenseUpperContainer {
  width: 100%;
}

.description {
  margin-right: auto;
}

.react-datepicker-ignore-onclickoutside {
  width: 96%;
}

input {
  padding-left: 3px;
  width: 95%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, .2);
}

select {
  height: 36px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, .2);
}

textarea {
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, .2);
}

.calenderIcon,
.commentIcon,
.dollarIcon {
  width: 15px;
  height: 15px;
}

.amountText,
.descriptionText,
.dateText {
  text-align: center;
}

.amount,
.date,
.description {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryIcon {
  width: 50px;
  height: 50px;
}

.deleteIcon {
  width: 35px;
  height: 35px;
  transition: opacity 250ms;
}

.deleteIcon:hover {
  cursor: pointer;
  opacity: .6;
}

.navbarComponentContainer:hover {
  opacity: .6;
}

.dashboardContainer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.amountAndHistoryContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  .amountAndHistoryContainer {
    flex-direction: column;
  }
  .incomeLowerContainer,
  .expenseLowerContainer {
    flex-direction: column;
  }
  .formContainer {
    width: 80%;
    align-self: center;
  }
  .totalBalanceDashboard {

    width: 80%;
  }

  .amountContainer {
    align-self: center;
  }

  .detailsLowerContainer {
    gap: 10px;
  }
  
}

.submitBtn {
  align-self: center;
}

.historyContainer {
  width: 100%;
  height: 80%;
}

.amountContainer {
  width: 60%;
  margin-top: 30px;
}

.expenseAndIncomeDashboard {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.expenseAndIncomeDashboard *,
.totalBalanceDashboard {
  border: 2px solid rgb(0, 0, 0, .2);
  border-radius: 5px;
  padding: 26px;
  text-align: center;
}

.historyAndExpenseContainer,
.incomeAndExpenseContainer {
  margin-bottom: 10px;
}

.historyAndExpenseContainer {
  display: flex;
  width: 90%;
  border: 2px solid rgb(0, 0, 0, .2);
  border-radius: 5px;
  padding: 20px;
  margin-right: 5px;
}

.historyTitle {
  margin-right: auto;
}

.historyTitle,
.historyAmount {
  font-weight: bold;
}

.historyContainerTitle {
  margin-bottom: 10px;
  text-align: center;
}

.totalExpensesDashboard,
.totalIncomeDashboard,
.totalBalanceDashboard {
  font-weight: bold;
  flex: 1;
  font-size: 15px;
}

.totalBalanceDashboard {
  font-size: 20px;
}

.chartContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewTransactionContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}

.viewIncomeContainer,
.viewExpensesContainer {
  display: flex;
  flex-direction: column;
  height: 48%;
}


.viewTransactionTitle {
  align-self: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
}



.viewIncomeDetailsContainer,
.viewExpensesDetailsContainer {
  overflow: scroll;
}

.viewExpensesDetailsContainer::-webkit-scrollbar, 
.viewIncomeDetailsContainer::-webkit-scrollbar {
  overflow: hidden;
  /* Hide the scrollbar for Webkit (Chrome, Safari, etc.) */
}

.empty {
  text-align: center;
}

.listOfIncome,
.listOfExpenses,
.historyContainerTitle {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.overview {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

input,
select,
textarea,
button {
  border: 2px solid rgb(0, 0, 0, .2);
  font-family: 'Roboto Slab', serif;
  background-color: whitesmoke;
}

.expenseTitle,
.incomeTitle {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.submitBtn {
  background-color: transparent;
  border: 2px solid blue;
  color: blue;
  transition: background-color 250ms, color 250ms;
}

.submitBtn:hover {
  background-color: blue;
  color: white;
}

.popupContainer {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: rgb(0, 0, 0, .2);
  display: none;

}

.popupContent {
  display: flex;
  flex-direction: column;
  height: 100px;
  border: 2px solid rgb(0, 0, 0, .2);
  background-color: white;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  padding: 40px;
}

.closePopup {
  width: 50px;
  height: 30px;
  align-self: center;
  text-transform: uppercase;
  border: 2px solid rgb(69, 169, 202);
  color: rgb(69, 169, 202);
  border-radius: 5px;
  background-color: transparent;
  transition: color 250ms, background-color 250ms;
}

.closePopup:hover {
  color: white;
  background-color: rgb(69, 169, 202);

}

.popupText {
  margin-bottom: auto;
}

.dashboardContainer,
.viewTransactionContainer,
.incomeUpperContainer,
.expenseUpperContainer {
  border: 3px solid rgb(0, 0, 0, .2);
  border-radius: 5px;
  padding: 10px;
  margin-left: 270px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 93vh;
}


